h2 {
    margin: 0px;
}

.view-post-container {
    width: 90%;
    height: 80%;
    font-size: var(--large);
    padding: 10px;
    border: 2px solid var(--tertiary);
    border-radius: 9px;
    box-shadow: 15px 15px 20px var(--primary);
    margin: 0 0 30px 0;
    position: absolute;
    top: 120px;
    left: 50px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}

.view-post-header {
    display: inline-flex;
    gap: 5px;
    position: relative;
    top: 5px;
    text-shadow: 7px 7px 7px var(--tertiary);
}

.view-post-header .profile-pic {
    background-color: var(--tertiary);
    border-radius: 20px;
}

.view-post-header span {
    font-size: var(--small);
}

.view-post-title-container{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    /* border: 2px solid var(--tertiary);
    border-radius: 9px; */
    
}

.view-post-title {
    font-size: var(--xxlarge);
    text-shadow: 7px 7px 7px var(--tertiary);
}

.view-post-body {
    width: 95%;
    height: 100%;
    border: 2px solid var(--tertiary);
    border-radius: 9px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
    margin: 0 0 10px 0;
    justify-content: space-between;
    box-shadow: 7px 5px 5px var(--primary);
    overflow-y: auto;
    text-align: left;
    
}

.view-post-body::-webkit-scrollbar {
    display: none;
}

.view-post-description {
    font-size: var(--medium);
}


.view-post-attachment {
    object-fit: contain;
    
}

.view-post-tags-container{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.view-post-tags {
    font-size: var(-xlarge);
    text-shadow: 7px 7px 7px var(--tertiary);
}

.view-post-attachment {
    width: 20%;
    height: 30%;
}

.footer-container {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.footer-container button {
    margin: 20px;
    background-color: transparent;
    font-size: var(--small);
    padding: 0;
    /* transition: border-color 0.25; */
}

.upvote:hover {
    border-color: transparent;
    color: var(--tertiary);
}

.comments:hover {
    border-color: transparent;
    color: var(--tertiary);
}
.edit:hover {
    border-color: transparent;
    color: var(--tertiary);
}
.delete:hover {
    border-color: transparent;
    color: var(--tertiary);
}

.view-post-info {
    font-size: var(--small);
    font-weight: 500;
}

.underline {
    text-decoration: underline;
}

.tooltip {
    position: relative;
    display: inline-flex;
    flex-flow: row nowrap;
    border-bottom: 1px dotted var(--primary);
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    color: var(--primary);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .comments-container {
    width: 50%;
    height: 500px;
    padding: 0 10px;
    border: 1px solid var(--tertiary);
    border-radius: 9px;
    box-shadow: 7px 5px 5px var(--primary);
    display: flex;
    flex-flow: column nowrap;
    overflow-y: auto;
    visibility: hidden;
    position: absolute;
  }

  .comments-container::-webkit-scrollbar{
    display: none;
  }

  .comments-title {
    font-size: var(--large);
    text-shadow: 7px 7px 7px var(--tertiary);
    text-align: left;
    position: sticky;
    top: 0px;
    background-color: var(--secondary);
    margin: 0 0 10px 0;
  }
  
  .comment-container {
    display: flex;
    flex-flow: column wrap;
    padding: 5px;
    margin: 5px 0px;
    width: 95%;
    background-color: var(--secondary);
    color: var(--primary);
    border: 1px solid var(--tertiary);
    border-radius: 9px;
} 
  .comment-info-container {
    display: flex;
    flex-flow: row nowrap;
    text-align: left;
    text-shadow: 7px 7px 7px var(--tertiary);
  }

  .comment {
    text-align: left;
  }
  
  .comment-input {
    width: 95%;
    border: 1px solid var(--tertiary);
    border-radius: 9px;
    margin: 15px 0px;
  }

  .view-post-ref-post {
    border: 1px solid var(--tertiary);
    border-radius: 9px;
    padding: 10px;
    width: 50%;
    margin: 0 0px -10px 0;
  }

  .view-post-ref-post-title{
      padding: 0px;
      margin: 0px;
      color: var(--primary)
  }

  .view-post-ref-post-title:hover{
    color: var(--tertiary);
    cursor: pointer;
}


